<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beautiful Blog</title>
</head>
<body>
<h1 style="text-align: center">
    Hi, It's My Blog!
</h1>
<div>
    <ul style="list-style:none; text-align: center">
        {% if request.user.is_authenticated %}
        <p>
            Username: {{ request.user.username }}
        </p>
          <a href="/blog/create" style="text-decoration: none">Create blog post</a>
          <a href="/users/logout" style="text-decoration: none">Выйти из Аккаунта</a>
        {% else %}
               <a href="/users/login" style="text-decoration: none">Войти в Аккуант</a>
        {% endif %}
        {% for i in blogs %}
         <li>
             <div>
                 <h2>{{ i.title }}</h2>
                 <p >
                     <img src="{{ i.image.url }}" style="width: 600px; height: 500px" alt="">
                 </p>

                 <span>Likes: {{ i.likes }}</span><br><span>Reposts: {{ i.reposts }}</span>
                 <p>{{ i.description }}</p>

             </div>
         </li>
         {% endfor %}
    </ul>

</div>

</body>
</html>